.speech{
      font-family: "Times New Roman", Times, serif;
      font-size: 18px;
      color: black;
}

.stage-direction{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: black;
    background-color: lightseagreen;
}

.stage-direction:hover{
    color: red;
    background-color: orange;
}

.president{
    font-family: "Times New Roman", Times, serif;
      font-size: 18px;
      color: orchid;
}

.president:hover{
  color: yellow;
  text-shadow: 2px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
}

.present{
    font-family: "Times New Roman", Times, serif;
      font-size: 18px;
      color: rgb(205, 50, 71);
}

.present:hover{
  color: violet;
  text-shadow: 2px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
}


.consp{
    font-family: "Times New Roman", Times, serif;
      font-size: 18px;
      color: yellowgreen;
}

.consp:hover,.firstconsp:hover,.secondconsp:hover,.thirdconsp:hover,.forthconsp:hover,.fifthconsp:hover{
  color: peru;
  text-shadow: 2px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
}

.firstconsp{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: blueviolet;
}

.secondconsp{
    font-family: "Times New Roman", Times, serif;
      font-size: 18px;
      color: peru;
}

.thirdconsp{
    font-family: "Times New Roman", Times, serif;
      font-size: 18px;
      color: rebeccapurple;
}

.forthconsp{
    font-family: "Times New Roman", Times, serif;
      font-size: 18px;
      color: violet;
}

.fifthconsp{
    font-family: "Times New Roman", Times, serif;
      font-size: 18px;
      color: salmon;
}

.vera{
    font-family: "Times New Roman", Times, serif;
      font-size: 18px;
      color: rosybrown;
}

.vera:hover{
  color: palevioletred;
  text-shadow: 2px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
}

.paul{
    font-family: "Times New Roman", Times, serif;
      font-size: 18px;
      color: goldenrod;
}

.paul:hover{
  color: goldenrod;
  text-shadow: 2px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
}

.table{
  border: 1px solid red;
  color: blue;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: yellowgreen;
}

th,td{
  padding: 30px;
  margin: 10px;
}

a:hover{
     color:red;
}

li{
     display: inline;
     padding: 15px;

}
