#tries{
     color: blue;
     font-weight: bold;
}

#distance{
    color: crimson;
    font-weight: bold;
}

#main{
    color: darkmagenta;
}

#target{
    color: brown;
    font-weight: bold;
}

#countdown{
    color: cornflowerblue;
    font-weight: bold;
}

#btn1, #btn2{
    font-weight: bold;
}