#form1_nick{
    color: blue;
}

#form1_age{
    color: crimson;
}

#btn{
    color: darkgreen;
}

#base{
    color: blue;
}

#exponent{
    color: crimson;
}

#result{
    color: blue;
}

#result2{
    color: teal;
}